@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif !important;
}
nav li{
    font-size: 18px;
    padding-left: 3vw;
}
nav li> a{
    color: black !important ;
}
nav img{
    width: 140px;
    object-fit: contain;
}
.row h1{
    font-weight: bolder;
    font-size:62px;
}
.row h1 p{
    color: #9E9DA2;
    font-size: 18px;
}
.main-logo > img{
    width: 420px;
    object-fit: contain;
    float: right;
}
.main-logo{
    /* width: 100px !important; */
}
.intro-para{
    color: #9E9DA2;
    font-size: 20px;
    margin-top: 4%;
}
.main-logo {
    display: flex;
    place-content: center;
}
.getApp{
    background-color: #75BF7A;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;

}
.section-para{
font-size: 1.2rem !important;
width: 226px !important;
}
.section-para + input{
    border: none;
    width: 550px !important;
    padding: 25px !important;
    height: 55px !important;
    border-radius: 6px;
}
.section-para + input::placeholder{
    color: #dadada;
}
.row button{
    border: none;
    height: 55px;
    color: white;
    border-radius: 6px;
    font-weight: bolder;
    width: 250px !important;
    padding: 10px !important;
    background-color: black;
    text-transform: uppercase;

}
/* our benifits section */
.steps-box{
    width: 80%;
}
.sec-heading{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

}
.section-image {
    float: inline-end;
}
.sec-heading > span{
   color: #75BF7A;
}
.steps-count{
    display: flex;
    align-items: center;
}
.steps-count h1{
   color: #75BF7A;
   font-weight: 500;
   font-size: 99px;
}
.steps-count h4{
    width:190px;
    font-weight: bolder;
}
.steps-text {
    color:#9E9DA2;
    width: 19vmax;
}






/* Be Our Friend */
.our-support{
    padding: 30px;
    margin: 5% auto;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.our-support .col{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.our-support h6{

}
.our-support li{
    color:#8B8BA5;
    list-style-type: none;
    font-weight: 200;
    line-height: 30px;
}
footer > p{
    color:#75BF7A;
    text-align: center;
    padding-bottom: 20px;
}

@media screen and (max-width:990px) {
    .section-image {
        float: left !important;
    }
    .steps-box{
        width: 95% !important;
        margin: auto !important;
    }
    .row h1{
        font-size:40px;
    }
    .row button , .section-para + input{
        width: 90% !important;
    }
    .main-logo > img{
        width: 320px;
    }
    .download-image{
        width: 40%;
    }
}